* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
   color: #333333;
}

.full__body {
  max-width: 100%
}

nav {
  margin: 20px auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 840px;
  height: 45px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

li a:hover {
  color: blue;
}

li:first-child {
  margin-right: 30px;
}

.burger {
  position: relative;
  width: 50px;
  height: 50px;
  background: white;
}

.burger__elem {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(50%, 50%);
  background: black;
  width: 22px;
  height: 3px;
  border-radius: 20%
}

.burger__elem1 {
  position: absolute;
  top: 38%; left: 50%;
  transform: translate(50%, 50%);
  background: black;
  width: 22px;
  height: 3px;
  border-radius: 20%
}

.burger__elem2 {
  position: absolute;
  top: 62%; left: 50%;
  transform: translate(50%, 50%);
  background: black;
  width: 22px;
  height: 3px;
  border-radius: 20%
}

/*     navigation     */

section {
  max-width: 100%;
}

.wrapper_set {
  max-width: 100%;
  display: flex;
  justify-content: center;
  color: #333333;
}

.wrapper_body {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.des_1 {
  margin: auto 0;
  max-width: 434px;
  margin: 150px 0px 0 30px;
}

.des_1 h1 {
  font-size: 55px;
}

.des_1 p {
  font-size: 25px;
  margin: 30px 0;
}

.des_2 img {
  max-width: 500px;
  margin-left: 50px;
}

.download_box {
  display: flex;
  width: 132px;
  height: 50px;
  transform: translateX(-150px);
}

.download_box3 {
  display: flex;
  width: 132px;
  height: 50px;
}

.margin-right_box {
  transform: translateX(-150px);
}

.download_box img {
  margin-right: 5px;
}

.download_box3 img {
  margin-right: 5px;
}
/*   ability section     */

.new_text {
  font-size: 45px;
  margin: 100px 0 70px 0;
  text-align: center;
}

.box_wrapper {
  max-width: 98%;
}

.boxes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 10px;
}


.box {
  width: 285.97px;
  height: 327px;
  background: white;
  box-shadow: rgb(183, 183, 183) 0px 0px 10px -2px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 327px;
  width: 72px;
}

.boxes .box div {
  text-align: center;
}
.blue {
  border-top: 10px solid #582eff;
}
.orange {
  border-top: 10px solid #ff814a;
}
.green {
  border-top: 10px solid #31c5a1;
}
.boxes .box div:first-child {
  margin: 50px;
}

.boxes .box div p:first-child {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.end {
  width: 100%;
  height: 400px;
  background: #31c5a1;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.end-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 3% auto;
}

.end-section p {
  padding-top: 8%;
  text-align: center;
}

.download_box {
  margin-top: 5%;
  margin-left: 38.5%;
}

.wrapper_body {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.download_box3 {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 350px;
}

footer {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  height: 130px;
  margin-top: 3%;
}

.photo {
  width: 120px;
  height: 40px;
}
.footer__section {
  width: 65%;
  display: flex;
  justify-content: space-between;
}
h6 {
  font-size: 1.4em;
}
.footer__direction {
  font-size: 1.2;
}
.last-direct {
  max-width: 240px;
}


@media screen and (max-width: 900px) and (min-width: 817px) {

  .download_box {
  display: flex;
  width: 132px;
  height: 50px;
  transform: translateX(-100px);
}


  .des_1 {
  width: 250px;
  margin: 150px 0px 0 30px;
}


  .des_1 h1 {
  font-size: 45px;
}

.des_1 p {
  font-size: 20px;
  margin: 30px 0;
}

  .des_2 img {
  width: 400px;
  margin-left: 50px;
}
}

@media screen and (max-width: 817px) and (min-width: 600px) {

  .des_1 {
  width: 250px;
  margin: 150px 0px 0 30px;
}


  .des_1 h1 {
  font-size: 35px;
}

.des_1 p {
  font-size: 15px;
  margin: 30px 0;
}

  .des_2 img {
  width: 350px;
  margin-left: 50px;
}

.photo{
  margin: 0 auto;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.box {
  width: 100%;
}

.arrow {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  margin-top:80px;
  text-align: center;
}

.footer__section {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto
}

.last-direct {
  margin-top: 20px
}

}

@media screen and (max-width: 739px) and (min-width: 679px) {

  .des_1 {
  width: 200px;
  margin: 150px 0px 0 30px;
}


  .des_1 h1 {
  font-size: 35px;
}

.des_1 p {
  font-size: 15px;
  margin: 30px 0;
}

  .des_2 img {
  width: 300px;
  margin-left: 50px;
}

.photo{
  margin: 0 auto;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
}

.box {
  width: 100%;
}

.arrow {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  margin-top:80px;
  text-align: center;
}

.footer__section {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto
}

.last-direct {
  margin-top: 20px
}

}

@media screen and (max-width: 679px) and (min-width: 300px) {

  .download_box {
  display: flex;
  width: 132px;
  height: 50px;
  transform: translateX(-80px);
}

.margin-right_box{
  transform: translateX(-190px);
}

  .des_1 {
  width: 150px;
  margin: 150px 0px 0 30px;
}


  .des_1 h1 {
  font-size: 30px;
}

.des_1 p {
  font-size: 15px;
  margin: 30px 0;
}

  .des_2 img {
  width: 250px;
  margin-left: 50px;
}

.photo{
  margin: 0 auto;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr;
}

.box {
  width: 100%;
}

.arrow {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 130px;
  margin-top:80px;
  text-align: center;
}

.footer__section {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto
}

.last-direct {
 height: 10px;
  margin-top: 0%;
}

}