* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 840px;
    height:45px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: #333333;
    font-size: 15px;
}

li a:hover {
    color: blue
}

li:first-child {
    margin-right: 30px;
}

/*     navigation     */

section {
    width: 100%;
}

.wrapper_set {
    width: 1017.28px;
    margin: 0 auto;
    color: #333333
}

.wrapper_body {
    display: flex;
    justify-content: space-between;
}

.des_1 {
    width: 434px;
    margin: 150px 60px 0 0
}

.des_1 h1{
    font-size: 55px
}

.des_1 p{
    font-size: 25px;
    margin: 30px 0;
}

.des_2 img{
    margin-left: 50px
}

.download_box {
    display: flex;
    width: 132px;
    height: 50px;
}

.download_box img {
    margin-right: 5px;
}

/*   ability section     */

.new_text {
    font-size: 45px;
    margin: 100px 0 70px 0; 
}

.box_wrapper {
    display: flex;
    justify-content: center;
}

.boxes {
    display: grid;
    grid-template-columns: 285.97px 72px 285.97px 72px 285.97px;
}

.box {
    width: 285.97px;
    height: 327px;
    border-top: 10px solid red;
    background: white;
    box-shadow: rgb(183, 183, 183) 0px 0px 10px -2px;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 327px;
    width: 72px
}

.boxes .box div{
    text-align: center;
}

.boxes .box:first-child :first-child{
    
}

.boxes .box div:first-child{
    margin: 50px 0
}

.boxes .box div p:first-child{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

.end {
    width: 100%;
    height: 500px;
    background: #31C5A1;
    color: white;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    position: relative;
    top: -75px;
    z-index: -1;
}

.end p {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
}

.end .download_box {
    position: absolute;
    top: 60%; left: 45%;
    transform: translate(-50%, -50%);
}
.tr{ 
max-width: 12px;
margin: auto;
list-style: armenian;
padding: 21px;
-ms-layout-grid-char: auto;
kerning: auto;
height: ;
kerning: auto;
margin: ;
}