* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  
  margin: 20px auto;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 840px;
  height: 45px;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #333333;
  font-size: 15px;
}

li a:hover {
  color: blue;
}

li:first-child {
  margin-right: 30px;
}

/*     navigation     */

section {
  width: 100%;
}

.wrapper_set {
  width: 1017.28px;
  margin: 0 auto;
  color: #333333;
}

.wrapper_body {
  display: flex;
  justify-content: space-between;
}

.des_1 {
  width: 434px;
  margin: 150px 60px 0 0;
}

.des_1 h1 {
  font-size: 55px;
}

.des_1 p {
  font-size: 25px;
  margin: 30px 0;
}

.des_2 img {
  margin-left: 50px;
}

.download_box {
  display: flex;
  width: 132px;
  height: 50px;
}

.download_box img {
  margin-right: 5px;
}

/*   ability section     */

.new_text {
  font-size: 45px;
  margin: 100px 0 70px 0;
}

.box_wrapper {
  display: flex;
  justify-content: center;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 285.97px 72px 285.97px 72px 285.97px;
}

.box {
  width: 285.97px;
  height: 327px;
  background: white;
  box-shadow: rgb(183, 183, 183) 0px 0px 10px -2px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 327px;
  width: 72px;
}

.boxes .box div {
  text-align: center;
}
.blue {
  border-top: 10px solid #582eff;
}
.orange {
  border-top: 10px solid #ff814a;
}
.green {
  border-top: 10px solid #31c5a1;
}
.boxes .box div:first-child {
  margin: 50px;
}

.boxes .box div p:first-child {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

.end {
  width: 100%;
  height: 400px;
  background: #31c5a1;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.end-section {
  text-align: center;
  margin: 3% auto;
}
.end-section p {
  padding-top: 8%;
}
.download_box {
  margin-top: 5%;
  margin-left: 38.5%;
}

.wrapper_body {
  display: flex;
  flex-wrap: wrap;
  
}

footer {
  display: flex;
  justify-content: space-around;
  height: 130px;
  margin-top: 3%;
}
.photo {
  width: 120px;
  height: 40px;
}
.footer__section {
  display: flex;
  justify-content: space-between;
  margin-left: -15%;
}
h6 {
  font-size: 1.4em;
}
.footer__direction {
  width: 180px;
  font-size: 1.2em;
}
.last-direct {
  width: 240px;
}

@media screen and (max-width: 1040px) and (min-width: 800px) {
}

@media screen and (max-width: 800px) and (min-width: 200px) {
  .wrapper_body {
    display: grid;
    grid-template-columns: 450px;
  }
}

@media screen and (max-width: 800px) and (min-width: 200px) {
  ul
    {
      display: grid;
      grid-template-columns: 450px;
    }
  }

@media screen and (max-width: 800px) and (min-width: 200px) {
  .footer__direction {
    display: grid;
    grid-template-columns: 450px;
  }
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .photo {
    display: grid;
    grid-template-columns: 450px;
  }
}
@media screen and (max-width: 800px) and (min-width: 200px) {
  .footer__section
    { 
    display: grid;
    grid-template-columns: 450px;
  }
}

@media screen and (max-width: 800px) and (min-width: 200px) {
  .download_box
  {
    display: grid;
    grid-template-columns: 450px;
  }
}




